body {
    margin: 0;
    height: 100vh;
    font-family: sans-serif;

}
div {
display: flex;
align-items: center;
justify-content: center;
background: #F0F0F0;
height: 100%;
}
.text{
 color: #888888;
}
    