header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 2px solid #888888;
    background: white;
    z-index: 1;
}

.wrapper {
    display: flex;
    margin: 0px;
}

.content {
    font-size: 16px;
    font-family: sans-serif;
    position: relative;
    background: #FFFFFF;
}

.side-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 50px;
    margin-right: 75px;
    gap: 10px;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: baseline;

}

.logo img {
    margin-top: 8px;
}
.text-color{
    color: #f52;
}
.purchases {
    display: flex;
    position: relative;
    gap: 28px;
}

.purchases__basket {
    position: relative;
}

.purchases__basket-number {
    position: absolute;
    left: 75px;
    bottom: 18px;
    color: #f2f2f2;
    background: #F36223;
    border-radius: 50%;
    width: 17px;
    height: 15px;
    font-size: 13px;
    text-align: center;
    
}


.purchases__heart {
    position: relative;
}

.purchases__heart-number {
    position: absolute;
    left: 19px;
    bottom: 18px;
    color: #f2f2f2;
    background: #F36223;
    border-radius: 46%;
    width: 19px;
    height: 16px;
    font-size: 13px;
    text-align: center;
}
.purchases__basket-number_visit {
   display: block;

}

.breadcrumbs {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    margin-left: 50px;
    margin-top: 87px;
    gap: 4px;
}

.breadcrumbs a {
    color: #008CF0;
    flex: none;
    order: 0;
    flex-grow: 0;
    text-decoration: none;
}

.smartphone__name {
    margin-left: 50px;

}

.smartphone__photos {
    display: flex;
    margin-left: 50px;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 10px;

}

.characteristics {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    margin-left: 50px;
    margin-top: 30px;
    gap: 100px;
}

.characteristics-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 30px;
    flex-grow: 1;
}

.product {
    display: flex;
    flex-direction: column;

}

.product__name {
    margin: 0;
}

.product__pictures {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 10px;
}

.product__button-color {
    display: flex;
    background: transparent;
    box-sizing: border-box;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 24px;
    gap: 10px;
    border: 1px solid #888888;
    border-radius: 4px;
    cursor: pointer;
}

input:hover+.product__button-color {
    background-color: #F2F2F2;

}

input:checked+.product__button-color {
    border-color: #F36223;

}

input:active+.product__button-color {
    border-color: #A93A09;

}

.product-memory {
    display: flex;
    flex-direction: column;
    padding: 0px;

}

.product-memory__name {
    margin: 0px;
}

.product-memory__buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 10px;
}

.product-memory__button {
    box-sizing: border-box;
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px 20px;
    gap: 10px;
    border: 1px solid #888888;
    border-radius: 4px;
    cursor: pointer;

}

input {
    appearance: none;

}

input:hover+.product-memory__button {
    background-color: #F2F2F2;

}

input:checked+.product-memory__button {
    border-color: #F36223;

}

input:active+.product-memory__button {
    border-color: #A93A09;

}

.button_selected {
    border-color: #F36223;

}

.product-characteristics {
    display: flex;
    flex-direction: column;
    padding: 0px;
    gap: 15px;
}

.product-characteristics__name {
    margin: 0px;
}

.product-characteristics__list {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
}

.product-characteristics__text {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.product-characteristics__list span {
    font-weight: 600;
}

.product-characteristics__list div::before {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    flex-shrink: 0;
    background-color: #888888;
}

.product-description {
    display: flex;
    flex-direction: column;
    padding: 0px;
    gap: 10px;
    flex-grow: 0;
}

.product-description__name {
    margin: 0px;
}

aside {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    gap: 40px;
    margin-top: 30px;
    margin-right: 25px;

}

.advertising {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
}

.advertising__name {
    margin: 0px;
    color: #888888;
}

.important {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    gap: 15px;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    flex-grow: 0;
}

.price {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    width: 132px;
    height: 73px;
    flex-grow: 0;
}

.old-price {
    display: flex;
    gap: 10px;
    align-items: center;
}

.old-price__price {
    font-size: 16px;
    align-items: center;
    text-decoration-line: line-through;
    color: #888888;
    flex-grow: 0;
}

.old-price__discount {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 8px;
    width: 31px;
    height: 16px;
    gap: 10px;
    color: #FFFFFF;
    background: #F36223;
    border-radius: 500px;
    flex-grow: 0;
}

.old-price svg {
    margin-left: 200px;
    fill: #8888;
    background-size: contain;
    background-position: center center;
    cursor: pointer;
}

.old-price svg:hover {
    fill: #F36223;

}

.old-price svg:active {
    fill: #A93A09;

}

.actual-price {
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
}

.delivery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.delivery__text {
    display: flex;
    flex-direction: column;
    margin: 15px 0px;
}

.delivery__text div {
    display: flex;
    font-size: 16px;
    flex-direction: row;
    align-items: center;
    padding: 0px 0px 20px;
    line-height: 1px;
}

.delivery__text span {
    font-weight: 600;
}

.button-basket {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 20px 69px;
    gap: 15px;
    font-size: 20px;
    background: #F36223;
    border: none;
    border-radius: 4px;
    color: #FFFFFF;
    cursor: pointer;
}

.button-basket::before {
    content: "";
    display: inline-block;
    width: 19px;
    height: 19px;
    background-size: contain;
    background-position: center center;
    background-image: url(/public/image/baskets.svg);
    cursor: pointer;
    background-repeat: no-repeat;
}

.button-basket:hover {
    background: #DA4A0C;
}

.button-basket:active {
    background: #A93A09;
}
.button-basket_choise{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 20px 69px;
    gap: 15px;
    font-size: 20px;
    border: none;
    border-radius: 4px;
    color: #FFFFFF;
    cursor: pointer;
    background: #888888; 
}
.button-basket_choise:hover{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 20px 69px;
    gap: 15px;
    font-size: 20px;
    border: none;
    border-radius: 4px;
    color: #FFFFFF;
    cursor: pointer;
    background: #888888; 
}

.message-cart_hidden {
    display: none;}

   
a {
    color: #008CF0;
}

a:hover {
    color: #F36223
}

a:active {
    color: #A93A09;
}

a {
    text-decoration: none;
}

iframe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1px;
    gap: 10px;
    border: 1px dashed #888888;
}

p {
    margin: 0;
}

.table-comparison {
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex-wrap: wrap;
    align-content: flex-start;
    flex-grow: 0;
}

.table-comparison__name {
    margin: 0;
}

.table-comparison__table {
    border: 1px solid #888888;
    border-collapse: collapse;
}

.table-comparison__table th {
    padding: 10px;
    border-bottom: 1px solid #888888;
    border-right: 1px solid #888888;
}

.table-comparison__table :last-child {
    border-right: none;
}

.table-comparison__table td {
    padding: 10px;
    border-right: 1px solid #888888;
}

.table-comparison__table tr:hover {
    background-color: #F2F2F2;
    cursor: pointer;
}

.table-comparison__table tr {
    border-right: 1px solid #888888;
    padding: 10px;
}

.reviews-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 30px;
    margin-left: 51px;
    margin-top: 66px;
    max-width: 880px;
}

.reviews-section__header {
    display: flex;
    justify-content: space-between;
    min-width: 880px;
    align-items: center;
}

.reviews-section__wrapper {
    display: flex;
    gap: 10px;
    align-items: center;
}

.reviews-section__title {
    font-weight: 700;
    font-size: 24px;
    margin: 0;
}

.reviews-section__count {
    font-weight: 700;
    font-size: 24px;
    color: #888888;
}

.reviews-section__list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.review {
    display: flex;
    gap: 30px;
}

.review__image {
    width: 140px;
    height: 140px;
    flex-shrink: 0;
}

.review__description {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.review__name {
    margin: 0;
}

.review__rating {
    display: flex;

}

.review__rating-star {
    height: 30px;
}

.review__parametrs {
    display: flex;
    gap: 10px;
    flex-direction: column;
    font-size: 14px;
}

.separator {
    margin-left: 177px;
    border-top: 2px dashed #c4c4c4;

}

.form {
    display: flex;
    margin-left: 220px;
    margin-bottom: 100px;
    margin-top: 60px;
}

.add-review {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
}

.add-review__fields {
    display: flex;
    flex-direction: column;
    min-width: 710px;
    gap: 30px;
}

.add-review__first-line {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
}

.add-review__FIO {
    padding: 15px 20px;
    border: 1px solid #888888;
    flex-grow: 1;
    font-size: 16px;
}

.add-review__content {
    padding: 15px 20px;
    border: 1px solid #888888;
    flex-grow: 1;
    font-size: 16px;
}

.error {
    display: none;
    padding: 15px 5px;
    flex-grow: 1;
    font-size: 16px;
    color: #c4c4c4;
    background: #DA4A0C;
}

.error.visible {
    display: block;
}


.input-name_error {
    border: 1px solid #DA4A0C;
}

.input-grade_error {

    border: 1px solid #DA4A0C;
}

textarea {
    width: 710px;
    height: 190px;
    resize: none;
    padding: 15px 20px;
    border: 1px solid #888888;
    flex-grow: 1;
    font-size: 16px;
    font-family: sans-serif;
}

.add-review__button {
    font-size: 16px;
    font-family: sans-serif;
    padding: 10px 20px;
    background: #F36223;
    border-radius: 4px;
    border: none;
    color: #FFFFFF;
    margin-top: 30px;
    cursor: pointer;
}

.add-review__button:hover {
    background: #DA4A0C;
}

.add-review__button:active {
    background: #A93A09;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    min-width: 880px;
    align-items: center;
    padding: 30px 50px;
    font-size: 14px;
}

footer {
    background: #F2F2F2;
}

@media (max-width:1499px) {
    header {
        position: fixed;
        left: 0;
        right: 0;
        border-bottom: 2px solid #081658;
        background: white;
        z-index: 1;
    }

    .wrapper {
        display: flex;

    }

    .content {
        font-size: 16px;
        font-family: sans-serif;
        position: relative;
        background: #FFFFFF;
    }

    .side-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        margin-left: 0px;
        margin-right: 10px;
        justify-content: space-between;
    }

    .purchases {
        position: relative;
    }

    .purchases__number {
        position: absolute;
        left: 14px;
        bottom: 27px;
        color: #081658;
        border: 2px solid #081658;
        border-radius: 50%;
        width: 13px;
        height: 13px;
        font-size: 11px;
        text-align: center;
    }

    .breadcrumbs {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        gap: 4px;
        margin-top: 80px;
        margin-left: 0px;
    }

    .smartphone__name {
        margin-left: 0px;
    }

    .smartphone__photos {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        gap: 10px;
        margin: 0px;

    }



    .characteristics {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;
        margin-right: 0px;
        margin-left: 0px;
        margin-top: 30px;
        gap: 40px;
        flex-grow: 0;
    }

    .characteristics-left {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 30px;
        flex-grow: 0;
    }

    .table-comparison {
        display: none;

    }

    aside {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 40px;
        margin-top: 30px;
        padding: 0px;
    }

    .reviews-section {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 30px;
        margin-left: 0px;
        margin-top: 66px;

    }

    .review__image {
        width: 100px;
        height: 100px;
        flex-shrink: 0;
    }

    .review__rating-star {
        height: 20px;
    }

    .form {
        display: flex;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 100px;
        margin-top: 60px;
    }

}
@media (max-width:360px) {
    header {
        position: fixed;
        left: 0;
        right: 0;
        border-bottom: 2px solid #081658;
        background: white;
        z-index: 1;
    }

    .wrapper {
        display: flex;

    }

    .content {
        font-size: 16px;
        font-family: sans-serif;
        position: relative;
        background: #FFFFFF;
    }

    .side-header {
        display: flex;
        gap: 50px;
        justify-content: flex-start;
    }

    .purchases {
        position: relative;
    }

    .purchases__number {
        position: absolute;
        left: 14px;
        bottom: 27px;
        color: #081658;
        border: 2px solid #081658;
        border-radius: 50%;
        width: 13px;
        height: 13px;
        font-size: 11px;
        text-align: center;
    }

    .breadcrumbs {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        gap: 4px;
        margin-top: 80px;
        margin-left: 0px;
    }

    .smartphone__name {
        margin-left: 0px;
    }

    .smartphone__photos {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        gap: 10px;
        margin: 0px;

    }
    .smartphone__photo3 {
        display: none;
    }
    .smartphone__photo4 {
        display: none;
    }
    .smartphone__photo5 {
        display: none;
    }

    .characteristics {
        display: flex;
        flex-direction: column;
       
    }

    .characteristics-left {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 30px;
        max-width: 500px;
    }

    .table-comparison {
        display: none;

    }

    aside {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 40px;
        margin-top: 30px;
        padding: 0px;
    }
    .advertising {
        display: none;
        
    }
    .reviews-section__list {
        display: flex;
        flex-direction: column;
        gap: 40px;
        max-width: 500px;
    }
    .reviews-section {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 30px;
        margin-left: 0px;
        margin-top: 66px;

    }

    .review__image {
        width: 100px;
        height: 100px;
        flex-shrink: 0;
    }

    .review__rating-star {
        height: 20px;
    }

    .form {
        display: flex;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 100px;
        margin-top: 60px;
    }
    .footer-content {
        display: flex;
        font-size: 14px;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: flex-start;
        padding-left: 0px;
    }
}